.expand {　/*本体*/
position:relative;
max-height:30px;
overflow: hidden;
background-color: #b0c4de;
}
 
.contenedor input { /*input要素は隠しておく*/
  visibility: hidden;
}
 
.contenedor label { /*ボタン部分*/
  position:relative;  
  display: block;
  font-size: 13px;
  background-color: #b3b3b3;
  color: white;
  cursor: pointer;
}
 
.contenedor label:before { /*閉じている場合のボタン文章*/
  content: "評価の詳細を見る";
}
 
.contenedor input:checked + label:before { /*開いている場合のボタン文章*/
  content: "閉じる"
}
 
input[type=checkbox]:checked ~ .expand {
 max-height: 500px;
}
 
input[type=checkbox]:checked ~ .expand:before {
 opacity: 0
}