body{
height:auto;
background-color:#ddd;
margin:0 auto;
}


#contentbox{
position:relative;
margin: 0 auto;	
border:solid 1px black;
background-color:white;
width:70%;
height:auto;
}

header h1{
background-color:#77FFFF;
color:#6666CC;
margin: 0;
}

#contentbox h2{
padding: 0 10px;
background-color:#b3b3b3;
}

#contentbox h3{
padding: 0 10px;
background-color:#b3b3b3;
}

.center{  /*スライド中央揃え用*/
margin: 0 auto;
}

.search-form{
position:absolute;
top:4px;
right:20px;
font-size: 16px;
padding: 10px;
width: 200px;
}

.slider{
	width:70%;
	margin: 0 auto;
}
.slick01{
	margin: 0 auto;
	width:80%;
}

img {
max-width: 100%;
max-height: 100%;
position:relative;  
}

.slick-dots{
position:relative;
top:20px;
right:20px;
}

.slick-arrow{
z-index:2;
right:-70px;
width:60px;
height:60px;
}
/* 矢印位置変更
.slick-prev {
left: 0;
z-index: 1;
}

.slick-next {
right: 0;
}
*/

#topbutton{
font-size: 1.5vw; /* 文字サイズ可変 */
position: fixed;
bottom: 15px;
right: 5px;
width: 8em;  	
}

nav ul{
display: table;
margin: 0 auto;
padding: 20px;
width: 80%;
text-align: center;
}
nav ul li{
display: table-cell;
min-width: 50px;
border-right: 1px solid #ccc;
}
nav ul li:first-child{
border-left: 1px solid #ccc;
}
nav ul li a{
display: block;
width: 100%;
padding: 10px 0;
text-decoration: none;
font-weight:bold;
background-color:white;
}
nav ul li a:hover{
background-color:yellow;
}
nav ul li.current a{
border-bottom: 5px solid #00B0F0;
color: #00B0F0;
}

.google-map {
position: relative;
width: 100%;
height: 0;
overflow: hidden;
padding-bottom: 56.25%;
}
.google-map iframe {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
}

.tyousei{
	text-align: center;
}





